body { 
	color: black;
	background-color: white;
	font-family: "Helvetica Neue";
}

h1 {
	text-align: center;
}

textarea {
	color: white;
	background-color: black;
	font-family: "Helvetica Neue";
	outline: true;
}

p {
	text-align: left;
	padding-left: 50px;
}
output {
	display: block;
}