body {
    color: black;
    background-color: white;
    font-family: "Helvetica Neue";
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-color: white;
}

textarea {
    color: white;
    background-color: black;
    font-family: "Helvetica Neue";
    outline: true;
}

p {
    text-align: left;
    padding-left: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
}

li {
    float: center;
}

li h1 {
    display: block;
    font-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button:hover {
    background-color: #555555 !important;
    color: white !important;
}

button {
    background-color: white !important;
    color: black !important;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
    margin: 4px 2px !important;
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=url],
select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}