body { 
	color: black;
	background-color: white;
	font-family: "Helvetica Neue";
    text-align: center;	
}

h1 {
	text-align: center;
}

textarea {
	color: white;
	background-color: black;
	font-family: "Helvetica Neue";
	outline: true;
}

p {
	text-align: left;
	padding-left: 50px;
}
output {
	display: block;
	margin: 50, 50, 50, 50;
}

.vorschau {
	height: 400px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}
